<div class="banner-cm-center">
  <div class="banner-cm-2halfs">
    <div class="banner-cm-half background-picture" style="background-image: url(<%= asset_path 'cocktail1.png' %>);"></div>
    <div class="banner-cm-half text-center banner-cm-center-center-column p-20px">
      <h1 class="margin-strip mb-30px">Because we believe<br>that a cocktail tells a story</h1>
      <p class="margin-strip mb-30px">
        Let’s raise our glasses to these Proustian moments
        <br>Past, future or present
        <br>Let’s make these moments last forever
        <br>One drop, this exquisite taste
        <br>Always takes me back</p>
        <%= link_to "SHARE YOUR COCKTAIL >", new_cocktail_path, class: "button-cm" %>
    </div>
  </div>
</div>

<div class="wrapper-cm-center text-center">
  <h4 class="mb-80px">Our WINTER cocktails</h4>
  <div class="container mb-80px">
    <div class="row">
      <% @topcocktails.each do |cocktail| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="card-cm-vertical">
            <%= link_to cocktail_path(cocktail) do %>
              <div class="card-cm-vertical-top background-picture" style="background-image: url(<%= asset_path "#{cocktail.photo}" %>);"></div>
            <% end %>
            <div class="card-cm-vertical-bottom">
              <p class="font-13px margin-strip">WITH <%= cocktail.person.upcase %> • AT <%= cocktail.moment.upcase %> • <%= cocktail.season.upcase %></p>
              <%= link_to cocktail_path(cocktail) do %>
                <h5 class="margin-strip mt-10px"><%= cocktail.name %></h5>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to "SEE MORE >", search_path, class: "button-cm" %>
</div>

<div class="wrapper-cm-center background-picture-bottom height-100vh wrapper-flex-right" style="background-image: url(<%= asset_path 'cocktail2.png' %>);">
  <div class="banner-cm-half-bg-transparent text-center banner-cm-center-center-column p-20px">
    <p class="margin-strip mb-30px white-text">OUR COCKTAIL OF THE MONTH</p>
    <h1 class="margin-strip mb-30px white-text">WHISKY SOUR</h1>
    <p class="margin-strip mb-30px white-text">
      Perfect for the summer <br>
      Reminisce over the past and invent the future
    </p>
      <%= link_to "HOW TO SHAKE IT >", new_cocktail_path, class: "button-cm-transparent" %>
  </div>
</div>

<div class="wrapper-cm-center text-center">
  <div class="list-cm">
    <h4>Our MOST-VOTED cocktails</h4>
    <% @cocktails.each do |cocktail| %>
      <div class="card-cm" data-aos="fade-in">
        <%= link_to cocktail_path(cocktail), class: "width-50pc" do %>
          <div class="height-100pc width-100pc background-picture" style="background-image: url(<%= asset_path "#{cocktail.photo}" %>);"></div>
        <% end %>
        <div class="card-cm-half flex flexdirection-column justifycontent-center alignitems-flexstart pl-40px">
          <p class="font-13px margin-strip">WITH <%= cocktail.person.upcase %> • AT <%= cocktail.moment.upcase %> • <%= cocktail.season.upcase %></p>
          <%= link_to cocktail_path(cocktail) do %>
            <h5><%= cocktail.name %></h5>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


